{% extends "partials/basic_flashcard.html" %}
{% from 'macros.html' import get_button, action_button %}
<!-- The Card Content -->
{% block card_content %}
    <div class="flex justify-center items-center bg-white rounded-xl shadow-md p-2 w-48 h-[500px] ">
        <div id="answer" class="hidden text-black">{{ note_value }}</div>
        <div id="question" class=" relative  ">
            <div class="flex justify-center">
                <!-- the notes imported -->
                <div id="note-set" class="z-10 absolute w-36   top-[30px] ">{% include 'partials/_keys_flashcard_notes.html' %}</div>
                <!-- with a fretboard image behind the notes -->
                <div id="fretboard" class="z-0  w-48 h-94 ">{% include 'partials/blank_fretboard.html' %}</div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- The Buttons -->
{% block card_buttons %}
    <div id="draw-flip-buttons" class="flex my-10 gap-2">
        {{ get_button(label = "Draw", id="draw-button", href="/keys/"+ key_position, target="#card") }}
        {{ action_button(label = "Flip", id="flip-button", callback="toggleVisibility()") }}
    </div>
    <div class="temporary">
        <h1>The values passed in:</h1>
        <p>Position: {{ position }}</p>
        <p>Random: {{ random }}</p>
        <p>key_position: {{ key_position }}</p>
        <p>key: {{ key }}</p>
    </div>
    <script>
function toggleVisibility() {
   
    var answer = document.getElementById("answer");
    var question = document.getElementById("question")
    var flipButton = document.getElementById("flip-button")
    var drawButton = document.getElementById("draw-button")

    if(question.style.display === "none"){
        question.style.display = "block";
        answer.style.display = "none";
    } else {
        question.style.display = "none";
        answer.style.display = "block";
        flipButton.style.visibility = "hidden"
    }
    
}
    </script>
{% endblock %}
