body {
background-color: #cdcdcd }
main {
display: flex;
flex-direction: column;
align-items: center;
width: 90%;
margin: auto;


}
.card {
background-color: white;
width: 400px;
height: 800px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 28px;
filter: drop-shadow(3px 3px 3px rgb(94, 94, 94))
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.feedback {
  display: flex;
  gap: 20px;
margin-top: 20px;
}
.fretboard-container {
  position: relative;
  display: inline-block;
  left: -45px;
  width: 250px;
}

.transparent-table {
  border-collapse: collapse;
  position: absolute;
  top: 80px;
  left: 65px;
  background-color: transparent;
  width: 62.5%;
  table-layout: fixed;
}
.transparent-table td {
  padding: 0;
}
.fretboard {
  display: flex;
  left: 36px;
  width: 133%;
  height: auto;
}


td img {
  width: 50px;
  height: 73.5px;
}
.buttons {
margin-top: 10px;
margin-bottom: 20px;
}

.question {
visibility: visible;
}
.hidden {
display: none;
}

.red {
background-color: red;}