.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.feedback {
  display: flex;
  gap: 20px;
margin-top: 20px;
}
.fretboard-container {
  position: relative;
  display: inline-block;
left: -45px;
  width: 250px;
}

.transparent-table {
  border-collapse: collapse;
  position: absolute;
  top: 28px;
  left: 35px;
  background-color: transparent;
  width: 100%;
  table-layout: fixed;
}
.transparent-table td {
  padding: 0;
}
.fretboard {
  display: flex;
  width: 132%;
  height: auto;
}

/* tr.border-bottom td {
  border-bottom: 0.5pt solid #747474;
} */
td img {
  width: 50px;
  height: 73.5px;
}
/* tr#Fret-1 td {
  border-top: 2pt double #747474;
} */
