body {
  background-color: black;
}
h1 {
  color: white;
}
.darker {
  background-color: #aaa298;
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #e5e5e5;
  padding: 20px;
}

.feedback {
  display: flex;
  gap: 20px;
}
table {
  border-collapse: collapse;
  background-color: #c6beb3;
}
tr#Fret-3,
#Fret-5,
#Fret-7,
#Fret-9,
#Fret-12 {
  background-color: #b7b2aa;
}

tr.border-bottom td {
  border-bottom: 0.5pt solid #747474;
}

tr#Fret-1 td {
  border-top: 2pt double #747474;
}
.note {
  color: #5c574f;
  padding: 5px;
}
.silent-notes {
  color: #ada69d;
  padding: 5px;
}
.random-note {
  color: green;
  font-size: 1.5rem;
  padding: 2px;
}
.short-strings {
  border-left: 0.5px solid red;
  height: 2px;
  /* position: absolute; */
  /* left: 50%;
  margin-left: 50%; */
  margin-left: 50%;
  top: 0;
}
