{% extends "index.html" %}
{% block title %}Circle of Fourths{% endblock %}
{% block style %}<link rel="stylesheet" href="static/fretboard_styles.css" />{% endblock %}
{% block content %}
  <main class="content">
    <h1>FlashCards</h1>
    <div class="feedback">
      <button>repeat</button>
      <button>remind</button>
      <button>archive</button>
    </div>
    <h3>Notes:</h3>
    {% for note in notes %}
      {% if note['index'] == random %}<p>random index: {{ random }}, note: {{ note['note'] }}, key: {{ key }}</p>{% endif %}
    {% endfor %}
  </main>
{% endblock %}
