{% extends "index.html" %} {% block title %}Circle of Fourths {% endblock %} {%
block content %}
<main class="content">
  <div class="flashcards">
    <img src="static/images/B_6.png" alt="B6" width="130px" height="282px" />
  </div>
  <div class="feedback">
    <button>repeat</button>
    <button>remind</button>
    <button>archive</button>
  </div>

  {% for note in notes%} {% if note['index'] == random %}
  <p>random index: {{random}}, note: {{note['note']}}</p>
  {% endif %} {% endfor %}
  <table>
    {% for fret in fretboard%} {% if fret[0]['fret'] < 9 %}
    <tr id="Fret-{{fret[0]['fret']}}" class="border-bottom">
      {% for note in fret%} {% if note['index'] == random %}
      <td
        id="{{ note['note']}}"
        data-index="{{note['index']}}"
        class="random-note"
      >
        •
      </td>
      {% elif note['pluck'] %}
      <!-- <td id="{{note['note']}}" class="note">•</td> -->
      <td id="{{ note['note']}}" data-index="{{note['index']}}" class="note">
        •
      </td>
      {% else %}
      <td id="{{note['note']}}" class="silent-notes">•</td>
      {% endif %} {% endfor %}
    </tr>
    {% endif %} {% endfor %}
  </table>
</main>
{% endblock %}

<!-- draw all the cells. if cell id == notes in key, color grey. if cell id == random number, color green, else color none -->
