{% extends "positions.html" %}
{% block content %}
    <h1>{{ key_position }}</h1>
    {% block notes %}
        <div class="card ">
            <div class="card-content" id="card-content" hx-target="#card-content">
                <div id="question">
                    <div class="fretboard">{% include "blank_fretboard.html" %}</div>
                    <div class="note-set">{% include "note_set.html" %}</div>
                </div>
                <div id="answer"
                     class="hidden"
                     hx-get='./{{ key_position }}/answer'
                     hx-trigger="click"
                     hx-target="#answer"
                     hx-swap="innerHTML transition:true"></div>
            </div>
        </div>
        <div class="buttons" classes="add red">
            <button id="switch-button"
                    hx-get='./{{ key_position }}/notes'
                    hx-trigger="click"
                    hx-target=".note-set"
                    hx-swap=" transition:true">Switch</button>
            <button id="flip-button"
                    onclick="toggleVisibility()"
                    hx-trigger="click"
                    hx-target=".card-content"
                    hx-swap="innerHTML transition:true">Flip</button>
        </div>
    {% endblock notes %}
    <script>
function toggleVisibility() {
    var answer = document.getElementById("answer");
    var question = document.getElementById("question")
    var switchButton = document.getElementById("switch-button")
    

    if(question.style.display === "none"){
        question.style.display = "block";
        answer.style.display = "none";
        switchButton.style.visibility = "visible"
    } else {
        question.style.display = "none";
        answer.style.display = "block";
        switchButton.style.visibility = "hidden"
    }
    
}
    </script>
{% endblock content %}
