<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Guitar Fretboard Memory Game">
    <meta name="keywords"
          content="Guitar, music, circle of fourths, circle of fifths, memory">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
      <title>
        {% block title %}FretMaster{% endblock %}
      </title>
    {% endblock %}
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Music&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <!-- Tailwind -->
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='/css/app.css') }}"> -->
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"></script>
  </head>
  <body class="bg-slate-900  h-vh ">
    <!-- Header / Hero -->
    <header class="bg-white">
      {% include 'partials/navigation/responsive_nav.html' %}
    </header>
    <!-- Main -->
    <main class="flex flex-col justify-items-center items-center p-8 text-white">
      {% block content %}
        <h1 class="text-white text-4xl ">General Instructions</h1>
        <p>
          An introduction Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque atque perspiciatis illo voluptas magni quaerat modi delectus amet quae praesentium, vel molestiae corrupti dignissimos laudantium laborum autem explicabo debitis. Et?
        </p>
      {% endblock %}
    </main>
    <script type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
