<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Guitar Fretboard Memory Game">
    <meta name="keywords"
          content="Guitar, music, circle of fourths, circle of fifths, memory">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
      <script src="https://unpkg.com/htmx.org@1.9.10"
              integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
              crossorigin="anonymous"></script>
      <title>
        {% block title %}FretMaster{% endblock %}
      </title>
      <link rel="stylesheet" href="{{ url_for('static', path='/css/app.css') }}">
    {% endblock %}
  </head>
  <header class="bg-white">
    <div id="header" class="bg-slate-900 text-white p-2">FretMaster</div>
  </header>
  <body class="bg-slate-100">
    <div id="wrapper" class="flex ">
      <!-- Sidebar -->
      <div id="sidebar" class="flex flex-col bg-slate-900 min-w-1/6 h-screen ">
        <div id="logo" class="text-white text-4xl text-center p-8">f</div>
        <nav class="text-white">
          {% include "partials/navigation/main_nav.html" %}
        </nav>
      </div>
      <!-- Main -->
      <main class="flex flex-col justify-items-center items-center p-8">
        {% block content %}
          <h1>General Instructions</h1>
          <p>
            An introduction Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque atque perspiciatis illo voluptas magni quaerat modi delectus amet quae praesentium, vel molestiae corrupti dignissimos laudantium laborum autem explicabo debitis. Et?
          </p>
        {% endblock %}
      </main>
    </div>
  </body>
</html>
