{% extends 'index.html' %}
{% from 'macros.html' import get_button %}
{% block title %}Keys{% endblock %}
<!-- content -->
{% block content %}
  <h1>All Keys ( in seven shapes)</h1>
  <p>Notes will be presented at random based on the key selected.</p>
  <div class=" flex flex-col items-center my-10">
    <!-- The musical keys navigation -->
    <div id="keys_nav" class="mb-10">{% include "partials/_keys_subnav.html" %}</div>
    <!-- The Flashcard -->
    {% block flashcard %}
      {% include 'partials/basic_flashcard.html' %}
    {% endblock flashcard %}
  </div>
{% endblock content %}
