{% extends 'index.html' %}
{% from 'macros.html' import get_button %}
{% block title %}Keys{% endblock %}
<!-- content -->
{% block content %}
  <h1 class=" text-2xl ">The Circle of Fourths</h1>
  <p class="my-2">
    The buttons below represent the 12 chromatic pitches as they appear in a sequence (circle) of fourths (circle of fifths if read in reverse order).
  </p>
  <p class="m-2">
    I suggest staying in one key until all the notes are learned. By following the keys in the order presented, you will have several notes that overlap, making it easier to learn. Choose a key to start. All keys are major.
  </p>
  <div class=" flex flex-col items-center my-10">
    <!-- The musical keys navigation -->
    <div id="keys_nav"
         class="flex flex-wrap justify-center gap-2 mb-6 text-4xl ">
      {% include "partials/navigation/_keys_subnav.html" %}
    </div>
    <!-- The Flashcard -->
    {% block flashcard %}
      {% include 'partials/basic_flashcard.html' %}
    {% endblock flashcard %}
  </div>
{% endblock content %}
